body {
    background-image: linear-gradient(to top, #682BD7, #222);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #2f2f2f;
}
header{
    background-color: #fff;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

main{
    background-color: #fff;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer{
    background-color: #fff;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 20px;
}


h1, h2, h3, b{
    font-family:'Inter';
}

p, a, figcaption{
    font-family: 'Krub';
}

header{
    border-top-style: solid;
    border-top-color: #424242;
    border-top-width: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

footer{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

p{
    margin: 0 auto;
    width: 60%;
    max-width: fit-content;
    text-align: left;
}

img{
    max-width: 35%;
}

ul{
    max-width: 90%;

}
li{
    margin: 8px;
    text-align: left;
    font-family: 'Krub';
}

a{
    color: #682BD7;
}

li p{
    width: 80%;
    display: inline;
}

main section{
    border: #2f2f2f solid 1px;
    border-radius: 5px;
    margin: 8px;
}

a:visited{
    color: #682BD7;
}

.designed-by{
    text-align: center;
}

.website-heading{
    display: inline;
    margin: 0;
}


/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    header{
        max-width: 1400px;
    }

    main{
        max-width: 1400px;
    }

    footer{
        max-width: 1400px;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    header{
        max-width: 980px;
    }

    main{
        max-width: 980px;
    }

    footer{
        max-width: 980px;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    header{
        max-width: 600px;
    }

    main{
        max-width: 600px;
    }

    footer{
        max-width: 600px;
    }
}