@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --red: #D62828;
  --red-2: #921919;
  --black: #1B1F3B;
  --black-2: #222542;
  --light-blue: #DCEDFF;
  --gray: #BDCDDD;
  --green: #13B94D;

}

html {
  font-size: 8px;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--black-2);
  background-color: var(--light-blue);
  font-family: "Fredoka", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0;
  background-color: var(--black);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  margin: 0 auto;
  background-color: var(--light-blue);
}

footer {
  background-color: var(--black);
  color: var(--light-blue);
  margin-top: 8rem;
  padding: 4rem;
}

header nav {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

header nav a {
  font-size: 3.5rem;
}

header nav a:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--red);
  border: 3px solid var(--red-2);
  border-radius: 40px;
  height: 100px;
  width: 200px;
}

header img{
    background-color: white;
    border-radius: 5px;
}
a {
  color: var(--light-blue);
  text-decoration: none;
}

a:visited {
  color: var(--light-blue);
}

a:hover{
  color: var(--gray)
}

a[download] {
  font-size: 5rem;
  background-color: var(--green);
  margin: 50px;
  border-radius: 10px;
  padding: 10px; 
}

h1 {
  font-size: 8rem;
  color: var(--red);
}

h2 {
  font-size: 4rem;
  color: var(--red);
}

h3 {
  font-size: 3rem;
  font-family: "Nunito Sans", serif;
  color: var(--green);
  margin-bottom: 1rem;
}

p {
  font-family: 'Nunito Sans', serif;
  font-size: 2.5rem;
  width: 50%;
  text-align: left;
  margin: 0;
}

main img {
  border-radius: 5px;
  margin: 30px auto;
  max-width: 100%;
  height: auto;
}

ul {
  font-size: 3rem;
  list-style: none;
  padding: 0;
  width: 50%;
}


li {
  background-color: var(--black);
  border-radius: 10px;
  margin: 2rem 0;
  width: 80%;
}

li:nth-child(odd) {
  margin-left: 0;
  margin-right: auto;
  padding: 2rem;
}

li:nth-child(even) {
  margin-left: auto;
  margin-right: 0;
  padding: 2rem;
}

li div {
  display: flex;
  align-items: center;
  gap: 2rem;
}


li div img {
  border-radius: 10px;
  flex-shrink: 0;
}

li p{
  margin: 0 auto;
  color: var(--light-blue);
  width: 80%
}

form{
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
  padding: 30px;
  background-color: var(--black);
  border-radius: 10px;
}

form *{
  font-size: 3rem;
}

.carousel-wrapper{
  width: 100%;
  overflow: hidden;
}

.imagecarousel {
  height: 250px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 20px;
  animation: bannermove 50s linear infinite;
}

.imagecarousel img {
  margin: 0px 0px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


#imagegallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto); 
    gap: 10px; 
    padding: 10px;
}


@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    header{
        max-width: 1400px;
    }

    main{
        max-width: 1400px;
    }

    footer{
        max-width: 1400px;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    header{
        max-width: 980px;
    }

    main{
        max-width: 980px;
    }

    footer{
        max-width: 980px;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    header{
        max-width: 600px;
    }

    main{
        max-width: 600px;
    }

    footer{
        max-width: 600px;
    }
}