@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --red: #D62828;
  --red-2: #921919;
  --black: #1B1F3B;
  --black-2: #222542;
  --light-blue: #DCEDFF;
  --gray: #BDCDDD;
  --green: #228B22;
  --green-2: #4CBB17;

}

html {
  font-size: 8px;
}

body {
  margin: 0 auto;
  color: var(--black-2);
  background-color: var(--light-blue);
  font-family: "Fredoka", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 3rem;
  background-color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 4rem;
  margin: 0 auto;
  background-color: var(--light-blue);
}

footer {
  background-color: var(--black);
  color: var(--light-blue);
  margin-top: 8rem;
  padding: 4rem;
}

header nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
header nav a{
  padding: 10px;
}

header nav a:last-child {
  text-align: center;
  padding: 2rem 4rem;
  background-color: var(--red);
  border: 3px solid var(--red-2);
  border-radius: 40px;
}

header img{
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

a:visited {
  color: var(--light-blue);
}

a:hover{
  color: var(--gray)
}

h1 {
  font-size: 8rem;
  color: var(--red);
}

h2 {
  font-size: 4rem;
  color: var(--red);
}

h3 {
  font-size: 3rem;
  font-family: "Nunito Sans", serif;
  color: var(--green);
  margin-bottom: 1rem;
}

p {
  font-family: 'Nunito Sans', serif;
  font-size: 2.5rem;
  width: 50%;
  text-align: left;
  margin: 0;
}

main img {
  border-radius: 5px;
  margin: 30px auto;
  max-width: 100%;
  height: auto;
}

embed{
  width: 50%;
  height: 90rem;
  margin: 0 auto;
}

ul {
  font-size: 3rem;
  list-style: none;
  padding: 0;
  width: 50%;
}


li {
  background-color: var(--black);
  border-radius: 10px;
  margin: 4rem 0;
  width: 80%;
}

li:nth-child(odd) {
  margin-left: 0;
  margin-right: auto;
  padding: 2rem;
}

li:nth-child(even) {
  margin-left: auto;
  margin-right: 0;
  padding: 2rem;
}

li div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}


li div img {
  border-radius: 10px;
  flex-shrink: 0;
}

li p{
  margin: 0 auto;
  text-align: center;
  color: var(--light-blue);
  width: 80%
}

form{
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
  padding: 30px;
  font-family: 'Nunito Sans', serif;
  background-color: var(--black);
  border-radius: 10px;
}

form *{
  font-size: 3rem;
}

label{
  color: var(--light-blue);
}

.dark-background{
  color: var(--green-2);
}

.centered{
  text-align: center;
}

#notepad-container {
    position: absolute;
    top: 155px;
    right: 20px;
    width: 300px;
    height: 300px;
}

#notepad {
    display: none;
    resize: none;
    width: 100%;
    height: 100%;
}

#notepad-button-container{
  display: flex;
  width: 308px;
}

#show-notepad {
  color: var(--light-blue);
  background-color: var(--green-2);
  border: 3px solid var(--green);
  font-weight: 600;
  width: 50%;
}

#clear-notepad {
  color: var(--light-blue);
  background-color: var(--red);
  border: 3px solid var(--red-2);
  font-weight: 600;
  display: none;
  width: 50%;
}

#imagegallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto); 
    gap: 10px; 
    padding: 10px;
}

.spinner{
  border: 4px solid #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-left-color: var(--green);
  animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.carousel-wrapper{
  width: 100%;
  overflow: hidden;
}

.imagecarousel {
  height: 250px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: bannermove 50s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 1300px){
  header nav a:last-child{
    margin-left: 8rem;
  }
}


@media (min-width: 601px) and (max-width: 1299px){
  embed{
    width: 70%;
  }
}
@media (max-width: 600px) {
  header nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  header nav a {
    font-size: 2.5rem;
  }

  p{
    width: 80%;
  }

  ul{
    width: 80%;
  }

  embed{
    width: 100%;
  }

  #notepad-container {
    position: static; 
    margin: 20px auto;
    height: 300px;        
  }

  #notepad-button-container {
      flex-direction: column;
      gap: 0;
  }

  #show-notepad, #clear-notepad {
      width: 100%; 
  }
}