:root{
    --dark-red: #780000;
    --light-red: #C1121F;
    --off-white: #FDF0D5;
    --dark-blue: #003049;
    --light-blue: #669BBC;
}
html{
    height: 100%;
    margin: 0;
}
body{
    background-color: var(--off-white);
    color: #2f2f2f;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    margin: 0;
    padding: 0;
}

main{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    flex: 1;
}

footer{
    background-color: var(--dark-blue);
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 200px;
    color: white;
}

h1, h2{
    text-align: center;
    font-family: "Chewy", sans-serif;
}

h4{
    text-align: center;
    font-family: "Chewy", sans-serif;
    font-weight: normal;
}

a, li{
    font-family: "Poppins", serif
}

p{
    font-family: "Poppins", serif;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 68%;
}

ul{
    list-style-type: none;
    padding: 0;
}

header p{
    text-align: center;
    font-family: "Chewy", sans-serif;
    font-size: 1.2rem;
}
pre code{
    text-align: left;
    margin: 0 auto;
}

nav{
    text-align: center;
}

img{
    margin: 0 auto;
    display: block;
}

a{
    color: #003049
}


a:visited{
    color:#003049
}

footer p {
    width: auto;
    margin: 0;
}

.donate a{
    color: white;
}

.donate a:visited{
    color: white;
}

.awning-container{
    display: flex;
    justify-content: center;
}

.square{
    flex: 1;
    min-width: 20px;
    min-height: 10vh;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #2f2f2f;
}

.square:nth-child(even){
    background-color: white;
}

.square:nth-child(odd){
    background-color: var(--light-red);
}

.img-container{
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
}

.img-container img{
    width: 500px;
    height: 375px;
}


/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    header{
        max-width: 1400px;
    }

    main{
        max-width: 1400px;
    }

    footer{
        max-width: 1400px;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    header{
        max-width: 980px;
    }

    main{
        max-width: 980px;
    }

    footer{
        max-width: 980px;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    header{
        max-width: 600px;
    }

    main{
        max-width: 600px;
    }

    footer{
        max-width: 600px;
    }
}